<?php
define('DB_NAME', '{{wp_database}}');
define('DB_USER', '{{wp_database_username}}');
define('DB_PASSWORD', '{{wp_database_password}}');
define('DB_HOST', 'localhost');
define('WP_CONTENT_DIR', '/usr/share/wordpress/wp-content');
?>
